<!DOCTYPE html>
<html lang="en">

<head>
    <title>dapr event viewer</title>
    <meta charset="UTF-8">
    <meta name="description" content="dapr event viewer">
    <meta name="keywords" content="events, dapr, websocket, golang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="static/css/app.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Header -->
        <div id="page-header">
            <div id="page-header-image">
                <img src="static/img/dapr.svg" alt="dapr logo" />
            </div>
            <div id="connection">connection: <b id="connection-status"></b></div>
        </div>


        <div id="middle-section">
            <div id="notifications"></div>
        </div>

        <!-- Footer -->
        <div id="page-footer">
            <a href="https://github.com/dapr/samples">
                Dapr Samples
            </a>
        </div>
    </div>

</body>

</html>
